/* GENERAL SETTINGS */
/*------------------------------------------------------------------------------------------------------*/

body {
	--radius-s: 12px;
	--radius-m: 12px;
	--radius-l: 12px;
	--input-radius: 16px;
	--tab-radius-active: 8px;
	--checkbox-radius: 16px;
	--toggle-radius: 16px;
	--toggle-thumb-radius: 16px;
	--slider-thumb-radius: 16px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

/* THEME DARK */
/*------------------------------------------------------------------------------------------------------*/

.theme-dark {

  --background-primary: rgb(61, 72, 88);/* #444446;*/
  --background-secondary: rgb(61, 72, 88);

  --text-normal:  rgb(236, 217, 217);
  --text-faint:  rgb(214, 143, 37);
  --text-muted:  rgb(218, 191, 72); /*rgb(209, 166, 147);*/
  --text-selection: rgb(231, 174, 89);
  
  --list-marker-color: #ca5e5e;
  --list-bullet-radius: 6px;
  --list-bullet-size: 6px; 
  --list-marker-color-collapsed: #ca5e5e;
}

.theme-dark .cm-s-obsidian span.cm-highlight {
  background-color: rgb(19, 152, 204) !important;
  color: rgb(14, 13, 13) !important;
}

/* Change background color in top ribbon */
.theme-dark .titlebar {
  background-color: #0e0336; /* Cambia este valor por el color que prefieras */
}

/* Change text color in top ribbon */
.theme-dark .titlebar-title {
  color: #8a7e15; /* Color del texto */
}

/* Color for tab ribbon */
.theme-dark .workspace-tab-header-container {
  background-color: #1a2a86 !important; /* color de fondo de la barra */
  border-bottom: 1px solid #867070 !important; /* opcional, línea divisoria */
}

/* Colors for Code Blocks */
.theme-dark {
  --code-background: #2f3441;   /* fondo para inline y bloques */
  --code-normal: #91a599;       /* color del texto dentro del código */
}
/* Headers in reading mode */
.theme-dark .markdown-rendered h1,
.theme-dark .markdown-rendered h2,
.theme-dark .markdown-rendered h3,
.theme-dark .markdown-rendered h4,
.theme-dark .markdown-rendered h5,
.theme-dark .markdown-rendered h6 {
  color: #ca6130 !important;   /* Amarillo para prueba */
}

/* Headers in edition mode (CM6) */
.theme-dark .markdown-source-view.mod-cm6 .cm-header-1 { color: #ca6130 !important; }
.theme-dark .markdown-source-view.mod-cm6 .cm-header-2 { color: #ffab66 !important; }
.theme-dark .markdown-source-view.mod-cm6 .cm-header-3 { color: #e0af53 !important; }
.theme-dark .markdown-source-view.mod-cm6 .cm-header-4 { color: #2d6845 !important; }
.theme-dark .markdown-source-view.mod-cm6 .cm-header-5 { color: #476d5c !important; }
.theme-dark .markdown-source-view.mod-cm6 .cm-header-6 { color: #838f7e !important; }

/* THEME LIGHT */
/*------------------------------------------------------------------------------------------------------*/

.theme-light {
	
  --background-primary: #b7b7b9;
  --background-secondary: #a8b3bb;

  --text-normal: rgb(23, 23, 24);
  --text-faint:  rgb(202, 51, 5);
  --text-muted:  rgb(143, 37, 5);
  --text-selection: rgb(109, 97, 112); 
  
  --list-marker-color: #797109;
  --list-bullet-radius: 6px;
  --list-bullet-size: 6px; 
  --list-marker-color-collapsed:#797109;
}
.theme-light .cm-s-obsidian span.cm-highlight {
  background-color: rgb(136, 74, 23) !important;
  color: rgb(14, 13, 13) !important;
}

/* Change background color in top ribbon */
.theme-light .titlebar {
  background-color: #2e4e74;
}

/* Change text color in top ribbon */
.theme-light .titlebar-title {
  color: #ddd4cf;
}

/* Color for tab ribbon */
.theme-light .workspace-tab-header-container {
  background-color: #8daac5 !important; /* color de fondo de la barra */
  border-bottom: 1px solid #444 !important; /* opcional, línea divisoria */
}

/* Colors for Code Blocks */
.theme-light {
  --code-background: #e2cc95;   /* fondo para inline y bloques */
  --code-normal: #140303;       /* color del texto dentro del código */
}


/* Headers in reading mode */
.theme-light .markdown-rendered h1,
.theme-light .markdown-rendered h2,
.theme-light .markdown-rendered h3,
.theme-light .markdown-rendered h4,
.theme-light .markdown-rendered h5,
.theme-light .markdown-rendered h6 {
  color: #ca6130 !important;   /* Amarillo para prueba */
}

/* Headers in edition mode (CM6) */
.theme-light .markdown-source-view.mod-cm6 .cm-header-1 { color: #9e3f13 !important; }
.theme-light .markdown-source-view.mod-cm6 .cm-header-2 { color: #975016 !important; }
.theme-light .markdown-source-view.mod-cm6 .cm-header-3 { color: #8f671e !important; }
.theme-light .markdown-source-view.mod-cm6 .cm-header-4 { color: #1d5a35 !important; }
.theme-light .markdown-source-view.mod-cm6 .cm-header-5 { color: #234b39 !important; }
.theme-light .markdown-source-view.mod-cm6 .cm-header-6 { color: #55644e !important; }

/* APPLIES TO BOTH THEMES */
/*------------------------------------------------------------------------------------------------------*/

/* ========= Code blocks: ```code``` ========= */
/* Reading */
.markdown-rendered pre,
.markdown-rendered pre code,
.markdown-preview-view pre,
.markdown-preview-view pre code {
  background-color: var(--code-background) !important;
  color: var(--code-normal) !important;
}

/* Editor CM6 (asome themes still use HyperMD) */
.markdown-source-view.mod-cm6 .HyperMD-codeblock,
.markdown-source-view.mod-cm6 div.HyperMD-codeblock-bg {
  background-color: var(--code-background) !important;
  color: var(--code-normal) !important;
}